<!-- This is the add car template that is plugged into the site template -->
{% extends "site_template.html" %}
{% block page_title %} Login {% endblock %}

{% block page_content %}
{{ super() }}

<!-- carshare button -->
<h1>Add to Active Carshare</h1>
<form class="form-signin text-center" method="post">
    <select name="carshare_chosen" id="carshare_chosen">
        {% for carshare in carshares %}
            <option value="{{carshare}}">{{carshare}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add car</button>
</form>

{% endblock %}
