<!-- Template for car appearing in carshare group, extended from template for site -->
{% extends "site_template.html" %}
{% block page_title %} Login {% endblock %}

{% block page_content %}
{{ super() }}
<form class="form-carshare text-center" method="post">
<!-- Template for carshare group to see what cars are in it -->
<!-- file is in 2 space tabs to be more visible -->
<h1>Cars in {{carshareID}}</h1>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bill.css" media="all" />
  </head>
  <body>
    <main>
      <table>
        <thead>
          <tr>
            <th>NAME</th>
            <th>CAR ID</th>
            <th>CHECK OUT (UTC)</th>
            <th>CHECK IN (UTC)</th>
            <th>RATE</th>
            <th>RETURN CAR</th>
          </tr>
        </thead>
        <tbody>
        {% for car in cars %}
          <tr>
            <td>{{car.get('make') + " " + car.get('model') + " " + car.get('year')}}</td>
            <td>{{car.get('carID')}}</td>
            <td>{{car.get('start')}}</td>
            {% if car.get('end') is not none %}
                <td>{{car.get('end')}}</td>
            {% else %}
                <td>n/a</td>
            {% endif %}
            <td>{{car.get('rate')}}</td>
            {% if car in av_cars %}
                <td><button class="btn btn-sm btn-primary btn-block" id=car type="submit" name="ID" value="{{car.get('carID')}}">Check-in {{car.get('make') + " " + car.get('model') + " " + car.get('year')}}</button></td>
            {% else %}
                <td></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
  {% if active is true %}
    <button class="btn btn-sm btn-primary btn-block" id=car type="submit" name="ID" value="closeCS">Close Carshare</button>
  {% endif %}
</html>    
</form>

{% endblock %}
