<!-- Template for car appearing in carshare group, extended from template for site -->
{% extends "site_template.html" %}
{% block page_title %} Login {% endblock %}

{% block page_content %}
{{ super() }}

<!-- Template for carshare group to see what cars are in it -->
<h1>Cars in this carshare</h1>
<form class="form-carshare text-center" method="post">
    {% for car in cars %}
        <div class ="text-sm-center">
            <p>{{car.get('make') + " " + car.get('model') + " " + car.get('year')}}</p>
            <p>Price per day: {{car.get('rate')}}</p>
            {% if car in av_cars %}
                <button class="btn btn-lg btn-primary btn-block" id=car type="submit" name="ID" value="{{car.get('carID')}}">Check-in "{{car.get('make') + " " + car.get('model') + " " + car.get('year')}}"</button>
            {% endif %}
        </div>
    {% endfor %}
</form>

{% endblock %}
