<!-- Template for downloads, extended from template for site -->
<!-- Creates buttons to download, extended from template for site -->
{% extends "site_template.html" %}
{% block page_title %} Downloads {% endblock %}

{% block page_content %}
<body class="body">
   <div class="container" align="left">

        <div class="col-lg-6 col-md-8 project-info text-left">
            <div class="row project-info-card">
		        <a href="/return-carmakes" target="blank"><button class="btn btn-lg btn-dark btn-block">Download Car Makes Dataset</button></a>
                <p></p>
                <a href="/return-teslamodels" target="blank"><button class="btn btn-lg btn-dark btn-block">Download Tesla Models Dataset</button></a>
            </div>
        </div>

   </div>
</body>
{% endblock %}
